h1{
  color: rgb(185, 126, 209);
  
}
div{
  background-color: rgb(168, 219, 219);
  width: 300px;

}
input{
  background-color:	#d0e3ed;
  
  border: 2px solid rgb(185, 126, 209);
  
}

span{
  color: rgb(144, 55, 156);
}
button{
  position: relative;
  left: 10px;
  font: bold;
  color:rgb(86, 66, 156);
  border: 2px solid rgb(185, 126, 209);

  
}
